<p>
  <strong>Nazwa:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Komentarz:</strong>
  <%= comment.body %>
</p>
 
<p>
  <%= link_to 'usuń', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Na pewno usunąć?' } %>
</p>